<footer class="site-footer">
  <div class="hide-on-phone">
    <div class="wrapper">
      <div class="flex-row-container">
        <div class="flex-item">{% include copyright.html %}</div>
        <div class="flex-item">{% include footer-menu.html %}</div>
        <div class="flex-item">{% include colophon-link.html %}</div>
      </div>
    </div>
  </div>
  <div class="show-on-phone">
    <div class="wrapper">
      <div class="flex-column-container">
        <div class="flex-item">{% include copyright.html %}</div>
        <div class="flex-item">{% include footer-menu.html %}</div>
        <div class="flex-item">{% include colophon-link.html %}</div>
      </div>
    </div>
  </div>

</footer>
