

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$variableContentWidth} - (#{$tinySpacingUnit}));
  max-width:         calc(#{$variableContentWidth} - (#{$tinySpacingUnit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $tinySpacingUnit;
  padding-left: $tinySpacingUnit;
  @include clearfix;

  @media screen and (min-width: $fixedContentWidth) {
    max-width: -webkit-calc(#{$fixedContentWidth} - (#{$spacingUnit}));
    max-width:         calc(#{$fixedContentWidth} - (#{$spacingUnit}));
    padding-right: $spacingUnit / 2;
    padding-left: $spacingUnit / 2;
  }
}


header.site-header {
  margin-top: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid $brandDarkAccent;
  h1 {
    border: none;
  }
  @media screen and (min-width: $tabletWidth){
    margin-bottom: $spacingUnit * 2;
  }
}
footer.site-footer {
  margin-top: $spacingUnit * 2;
  margin-bottom: 0;
  padding-top: .5em;
  border-top: 1px solid $brandDarkAccent;
}

section.page-section {
  margin-bottom: $spacingUnit * 2;
  &:last-child {
    margin-bottom: 0;
  }
}

nav.navbar {
  @extend .flex-row-container;
  .navbar-item {
    @extend .flex-row-item;
    height: $navbarHeight;
    line-height: $navbarHeight;
    border: 1px solid $brandMediumAccent;
    text-align: center;
  }
  .brand {
    font-family: $headerFontStack;
    font-size: 1.2em;
    text-align: left;
    padding-left: $spacingUnit / 2.0;
  }
  .link {
    a {
      color: $brandForeground;
      background: transparent;
    }
    &.active {
      a {
        color: lighten($brandForeground, 50%);
        font-weight: bold;
        background-color: $brandDarkAccent;
      }
    }
  }
}

.button-bar {
  @extend .flex-row-container;
}
.button-bar-item {
  @extend .flex-row-item;
  text-align: center;
  border: 1px solid $brandBackground;
}

.post {
  p {
    margin-bottom: $baseLineHeight;
  }
}
