/* LAYER 1 of ITCSS: Least Specific, Most General
 * Settings, variables, font downloads and the like.
 */

/* COLOURS */
/* Duplicating https://color.adobe.com/Quiet-Cry-color-theme-124171/ */
$brandBackground: #1C1D21 !default;
$brandForeground: #EEEFF7 !default;
$brandKeyAccent: #92cdcf !default;
$brandMediumAccent: #445878 !default;
$brandDarkAccent: #31353D !default;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Space+Mono:400,400i,700,700i|Tillana|Work+Sans:400,700&subset=latin-ext');
$normalFontStack: Eczar, serif;
$headerFontStack: 'Work Sans', serif;
$buttonFontStack: 'Work Sans', serif;
$monoFontStack: 'Space Mono', monospace;
$cursiveFontStack: Tillana, cursive;


$baseFontWeight: 400;
$boldFontWeight: 700;
$baseFontSize: 1em;
$baseLineHeight: 1.6em;
$monoFontSize: $baseFontSize * 0.9;
$smallFontSize: 85%;

/* LAYOUT */
$phoneWidth: 425px;
$tabletWidth: 768px;
$desktopWidth: 1024px;
$spacingUnit: 2em;
$tinySpacingUnit: 5px;
$variableContentWidth: 100vw;
$fixedContentWidth: 960px;


/* NAVBAR */
$navbarHeight: 50px;
