/* LAYER 1 of ITCSS: Least Specific, Most General
 * Settings, variables, font downloads and the like.
 */

/* COLOURS */
/* Duplicating https://color.adobe.com/Quiet-Cry-color-theme-124171/ */
$brandBackground: #1C1D21 !default;
$brandForeground: #EEEFF7 !default;
$brandKeyAccent: #92cdcf !default;
$brandMediumAccent: #445878 !default;
$brandDarkAccent: #31353D !default;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Space+Mono:400,400i,700,700i|Tillana|Work+Sans:400,700&subset=latin-ext');
$normalFontStack: Eczar, serif !default;
$headerFontStack: 'Work Sans', serif !default;
$buttonFontStack: 'Work Sans', serif !default;
$monoFontStack: 'Space Mono', monospace !default;
$cursiveFontStack: Tillana, cursive !default;


$baseFontWeight: 400 !default;
$boldFontWeight: 700 !default;
$baseFontSize: 1em !default;
$baseLineHeight: 1.6em !default;
$monoFontSize: $baseFontSize * 0.9 !default;
$smallFontSize: 85% !default;

/* LAYOUT */
$phoneWidth: 425px !default;
$tabletWidth: 768px !default;
$desktopWidth: 1024px !default;
$spacingUnit: 2em !default;
$tinySpacingUnit: 5px !default;
$variableContentWidth: 100vw !default;
$fixedContentWidth: 960px !default;


/* NAVBAR */
$navbarHeight: 50px !default;
